.main-container {
  grid-area: main;
  overflow-y: auto;
}
.main-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  margin: 15px 0;
  padding: 0 20px;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 8px 15px;
  border-radius: 8px;
  background-color: #ffffff;
  border: 1px solid #e8efee;
}
.card-title {
  font-family: Verdana;
  font-size: 12px;
  color: #000000;
  margin-bottom: 5px;
  opacity: 0.8;
}
.card-answer {
  font-family: Verdana;
  font-size: 18px;
  color: #000000;
}
.card-icon {
  font-size: 20px;
  vertical-align: middle;
  padding: 10px;
  border: 2px solid #e8efee;
  border-radius: 10px;
  color: #737e79;
  margin-bottom: 15px;
}
.table-container {
  display: grid;
  grid-template-columns: 1fr;
  overflow-x: auto;
  overflow-y: auto;
  background-color: #ffffff;
  padding: 20px 20px;
  border-top: 2px solid #e8efee;
}
.table-title-container {
  padding-bottom: 10px;
  margin-bottom: 10px;
  padding-left: 20px;
  font-family: Verdana;
  border-bottom: 1px solid #e8efee;
}
.table-title {
  font-size: 16px;
}
.table-title-footer {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-top: 5px;
}
.title-footer {
  display: grid;
}
.footer-title {
  font-size: 12px;
  margin-top: 5px;
}
.table-header {
  background-color: #f0f7f4;
  font-family: Verdana;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}
.table-row {
  font-family: Verdana;
  font-size: 12px;
  font-weight: 500;
}
.table-footer-container {
  padding: 20px 20px;
  font-family: Verdana;
  font-size: 13px;
  font-weight: 500;
}
.table-footer-container button {
  margin-right: 10px;
  background-color: #f0f7f4;
  border-width: 0;
  padding: 5px 5px;
  border-radius: 5px;
}
.pagination-icon {
  font-size: 20px;
  vertical-align: middle;
}

/* Small <= 768px */
@media (max-width: 768px) {
  .main-cards {
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }
}

/* Extra Small <= 576px */
@media (max-width: 576px) {
  .main-cards {
    grid-template-columns: 1fr;
    gap: 10px;
  }
}
